Repository voxpupuli/puppet-jira, pull requests merged in 2018-07, with the labels that each got.

#257 release 3.5.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#261 modulesync 1.9.3
  .msync.yml
  .travis.yml
  Gemfile
Labels: modulesync

#260 Update server.xml.erb to allow for jsd
  templates/server.xml.erb
Labels: bug

#258 Check `ps` for a process with the jira pid, not a the jira user
  templates/jira.initscript.erb
Labels: bug

#262 release 3.5.1
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
