Repository voxpupuli/puppet-jira, pull requests merged in 2021-04, with the labels that each got.

#351 Restore $jira::java_opts for compatibility and remove $jira::jvm_*_additional from the API, as setting JDK type to custom allows full control anyway.
  manifests/init.pp
  spec/classes/jira_config_spec.rb
  templates/setenv.sh.erb
Labels: bug

#352 Refactor database configuration and make the main API typed
  README.md
  examples/jira_mysql_install.pp
  examples/jira_mysql_nativessl_install.pp
  examples/jira_postgres_install.pp
  examples/jira_postgres_nginx_install.pp
  examples/jira_postgres_nginx_ssl_install.pp
  jira.yaml
  manifests/config.pp
  manifests/init.pp
  spec/acceptance/mysql_spec.rb
  spec/classes/jira_config_spec.rb
  templates/dbconfig.h2.xml.erb
  templates/dbconfig.mysql.xml.erb
  templates/dbconfig.oracle.xml.erb
  templates/dbconfig.postgresql.xml.erb
  templates/dbconfig.sqlserver.xml.erb
  templates/dbconfig.xml.epp
Labels: backwards-incompatible

#353 Allow specifying JDBC connection parameters with jira::connection_settings
  manifests/init.pp
  spec/classes/jira_config_spec.rb
  templates/dbconfig.xml.epp
Labels: enhancement

#359 Drop support for JIRA <8.0.0
  jira.yaml
  manifests/config.pp
  manifests/init.pp
  manifests/install.pp
  spec/acceptance/default_parameters_spec.rb
  spec/acceptance/mysql_spec.rb
  spec/classes/jira_config_spec.rb
  spec/classes/jira_install_spec.rb
  spec/classes/jira_mysql_connector_spec.rb
  spec/classes/jira_sso_spec.rb
  spec/classes/jira_upgrade_spec.rb
  spec/default_module_facts.yml
  templates/server.xml.epp
Labels: backwards-incompatible

#357 Sync setenv.sh with upstream 8.13.5 (LTS)
  README.md
  manifests/config.pp
  manifests/init.pp
  spec/classes/jira_config_spec.rb
  spec/type_aliases/jvm_types_spec.rb
  templates/setenv.sh.epp
  types/jvm_types.pp
Labels: backwards-incompatible

#367 puppetlabs/stdlib: Allow 7.x
  metadata.json
  spec/spec_helper_acceptance.rb
Labels: enhancement

#364 Add newer OSes and Puppet 7 to test matrix, drop Puppet 5
  .github/workflows/ci.yml
  metadata.json
Labels: backwards-incompatible

#370 modulesync 4.1.0
  .github/CONTRIBUTING.md
  .github/workflows/ci.yml
  .msync.yml
  Dockerfile
  Gemfile
  spec/classes/jira_config_spec.rb
  spec/classes/jira_mysql_connector_spec.rb
Labels: modulesync

#371 Test with Ubuntu 20.04
  metadata.json
Labels: enhancement

#374 Release 5.0.0
  CHANGELOG.md
  REFERENCE.md
  metadata.json
Labels: skip-changelog

#375 Configure dbconfig.xml parameters explicitly to stop JIRA's healthcheck from complaining
  manifests/config.pp
  spec/classes/jira_config_spec.rb
  templates/dbconfig.xml.epp
Labels: bug

#376 Release 5.0.1
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
