Repository voxpupuli/puppet-jira, pull requests merged in 2025-06, with the labels that each got.

#445 Use Deferred on epp call to generate dbconfig.xml
  REFERENCE.md
  lib/puppet/functions/jira/db_password_atl_secured.rb
  lib/puppet/functions/jira/is_installed.rb
  lib/puppet_x/jira/jira.rb
  manifests/config.pp
  manifests/init.pp
  spec/classes/jira_config_spec.rb
  templates/dbconfig.jndi.xml.epp
  templates/dbconfig.xml.epp
Labels: bug

#450 chore: cleanup .fixtures.yml
  .fixtures.yml
Labels: skip-changelog

#454 Drop support for EOL Ubuntu 18.04 and Ubuntu 20.04
  README.md
  metadata.json
  spec/acceptance/default_parameters_jira_10_spec.rb
  spec/acceptance/mysql_spec.rb
Labels: backwards-incompatible

#452 Drop support for EOL EL7
  metadata.json
  spec/acceptance/default_parameters_jira_10_spec.rb
  spec/acceptance/mysql_spec.rb
Labels: backwards-incompatible
